/* Style chargé sur toutes les pages dans toutes les versions (mobile... tablette.... */
:root{
    font-size: 20px;
}

nav{
    background-color: #ffffff;
}

nav > a{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #4f4d5f;
}

header > nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    align-items: center;
}

.follow-nav-logo{
    text-align: center;
}

.fa-facebook, .fa-instagram-square{
    color: #4f4d5f;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
}

.nav-menu > button{
    z-index: 999;
    border: none;
    width: 40px;
    height: 40px;
}

.nav-menu > ul{
    top: 0;
    right: 0;
    max-width: 250px;
    position: absolute;
    background-color: #4f4d5f;
    padding: 60px 0 20px 20px;
    display: none;
}

.nav-menu > ul > li > a{
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 5px;
    display: inline-block;
    color: whitesmoke;
}

main{
    padding-top: 80px;
}

footer{
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
