<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="MatthieuJ">
    <base href="{{ webRoot }}">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
<a style="text-align: center;text-transform: uppercase;font-size: 2rem;font-weight: bold;color: #4f4d5f;" href="blog-php/home/index">
    <span>JM Website</span>
</a>
    {% block main %}{% endblock %}
<footer>

</footer>
</body>
</html>