.banner{
    background-color: #f1f1f1;
    position: relative;
    z-index: -1;
}

.banner > h1{
    position: absolute;
    top: 50px;
    left: 50px;
    color: #8f8e97;
}

.nav-article{
    margin: 50px 0 50px 0;
    text-transform: uppercase;
}

.articles{
    padding: 0 15px 0 15px;
}

.nav-article > ul{
    display: flex;
    justify-content: space-around;
}

.articles > div{
    position: relative;
}

article > div > h1, article > div > .article-bottom{
    color: #4f4d5f;
}

.articles > div > a > figure > figcaption{
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.articles > div > a > figure:hover figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: max-height 0.7s;
    opacity: 1;
    max-height: 10em;
}

figcaption > h1,figcaption > span{
    color: white;
}

figcaption > span{
    font-size: 1.5rem;
}

.nav-article > ul > li > a{
    font-size: 1.8rem;
}